.task-container {
  width: 900px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.task-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.task-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  gap: 20px;
  place-content: center;
}

.task-box:last-child {
  border: none;
}

.row_alignment {
  background-color:#f9f9f9;
}

.btn-add {
  margin-bottom:10px;
  margin-left:50px;
}

.todo-title {
  margin:0;
  text-align: center;
  padding:0;
  background-color: rgb(208, 133, 133);
  box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}

.implementing-title {
  margin:0;
  text-align: center;
  padding:0;
  background-color: rgb(218, 236, 82);
  box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}

.done-title {
  margin:0;
  text-align: center;
  padding:0;
  background-color: rgb(72, 191, 96);
  box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}

span {
    font-weight: normal;
}

.form-field {
   padding-left:21px;
   margin-top:10px;
}